.main-header {
  background-color: purple;
  padding: 20px;
}

.sw-logo {
  max-width: 70%;
}

.main-header__title {
  font-size: 20px;
  max-width: 500px;
  margin: 20px auto;
  color: #ffffff;
}

.custom-select {
  max-width: 70%;;
}

.list-group {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.list-group-item {
  font-size: 20px;
  height: 300px;
  border: 1px solid #000000;
  margin: 20px;
  flex: 1;
  max-width: 200px;
  min-width: 200px;
}

.list-group-item:nth-child(odd) {
  background-color: #cccccc;
}

.list-group-item > h2 {
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
}

.list-group-item > h3 {
  font-size: 14px;
  text-transform: uppercase;
}

.list-group-item > h3 > span {
  display: block;
  font-weight: bold;
  font-size: 12px;
}

.list-group .error-message {
  display: block;
  width: 100%;
  padding: 15px 10px;
  background-color: red;
  color: white;
  font-size: 20px;
}

.list-group .loading-message {
  display: block;
  width: 100%;
  padding: 15px 10px;
  font-size: 20px;
  text-align: center;
}
.list-group .loading-message::after {
  display: block;
  content: '';
  margin: 20px auto;
  width: 100px;
  height: 100px;
  background-image: url('./animated-loading-icon.svg');
  background-repeat: no-repeat;
}

@media only screen and (max-width: 500px) {
  .list-group-item {
    width: 100%;
    max-width: none;
    min-width: 150px;
  }
}